.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('C:/Users/kevin/OneDrive/Images/trafic-internet-monde-©-Anton-Balazh-shutterstock.jpg');
  background-size: cover;
}
